<div class="box reg-box">
	<div class="box-wrapper">
		<form>
			<h2>User Registeration</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" name="fname" class="form-control" placeholder="First Name">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" name="lname" class="form-control" placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="number" name="phone" class="form-control" placeholder="Phone">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="password" name="pass" class="form-control" placeholder="Password">
					</div>
				</div>
				<div class="col-md-6">
					<input type="password" name="cpass" class="form-control" placeholder="Confirm Password">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group center">
						<button class="ng-btn">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>